<hr />

<div class='fb_edit_section fb_edit_section_horiz fb_edit_section_min_max fb_edit_section_between'>
  <label><%= t('formbuilder.min_max') %></label>
  <div class='fb_edit_section_horiz_content'>
    <span><%= t('formbuilder.range.between') %></span>
    <input type="text" class="small" data-rv-input="model.<%= Formbuilder.mappings.MIN %>" />
    <span><%= t('formbuilder.range.and') %></span>
    <input type="text" class="small" data-rv-input="model.<%= Formbuilder.mappings.MAX %>" />

    <div class='form_error' data-rv-show='model.errors.minMaxMismatch'>
      <%= t('formbuilder.errors.range_mismatch') %>
    </div>
  </div>
</div>
